@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
div{
    max-width: 700px;
    line-height: 1.5;
    margin: 0 auto;

    
}
li{
    font-family: 'Rubik', sans-serif;

}

a{
    text-decoration: none;
}

h1{
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin-top: 30px;
    padding-bottom: 10px;
}
strong{
    font-weight: bolder;
}
h3{
font-size: 25px;
font-family: 'Roboto Slab', sans-serif;
padding-bottom: 17px;
padding-top: 20px;
}
p{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    padding-bottom: 17px;

}
ul{
    list-style: square;
}