.button{
    text-decoration: none;
    border: 3px black solid;
    padding: 5px;
    font-size: 30px;
    font-family: sans-serif;
    border-radius: 5px;
    color: black;


}
.button:hover{
    color: white;
    background-color: black;
}
.--blue:hover{
    background-color: blue;
}
.--blue{
    color: blue;
    border-color: blue;
}

.--green:hover{
    background-color: green;
}
.--green{
    color: green;
    border-color: green;
}
.--red{
    color: red;
    border-color: red;
}
.--red:hover{
    background-color: red;
}

