a{
    text-decoration: none;
    color: red;
    font-family: sans-serif;
border: 2px red solid;
border-radius: 25px;
padding: 5px;
padding-left: 15px;
padding-right: 15px;


}
a:hover{
    color: white;
    background-color: red;
}
