body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
#canvas{
    display: block;
    background: radial-gradient(#424242, #000000);
}